pipeline/pip_copy_sql_to_adls.json
{
	"name": "pip_copy_sql_to_adls",
	"properties": {
		"activities": [
			{
				"name": "LastModified",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.watermark where table_name = '@{pipeline().parameters.table_name_par}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable",
						"type": "DatasetReference",
						"parameters": {
							"ds_schema_table": {
								"value": "@pipeline().parameters.schema_par",
								"type": "Expression"
							},
							"ds_name_table": {
								"value": "@pipeline().parameters.table_name_par",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "MaxLastModified",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT max(ModifiedDate) as ModifiedDate  FROM @{pipeline().parameters.schema_par}.@{pipeline().parameters.table_name_par}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable",
						"type": "DatasetReference",
						"parameters": {
							"ds_schema_table": {
								"value": "@pipeline().parameters.schema_par",
								"type": "Expression"
							},
							"ds_name_table": {
								"value": "@pipeline().parameters.table_name_par",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "SetLastModified",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LastModified",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "last_modified",
					"value": {
						"value": "@activity('LastModified').output.firstRow.LastModified",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetMaxLastModified",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "MaxLastModified",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "max_writed_value",
					"value": {
						"value": "@activity('Maxlastmodified').output.firstRow.ModifiedDate",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "SetLastModified",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetMaxLastModified",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "If Condition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('last_modified'), variables('max_writed_value'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "SQL_to_landing",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from @{pipeline().parameters.schema_par}.@{pipeline().parameters.table_name_par} where ModifiedDate > '@{variables('last_modified')}' and ModifiedDate <= '@{variables('max_writed_value')}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable",
									"type": "DatasetReference",
									"parameters": {
										"ds_schema_table": {
											"value": "@pipeline().parameters.schema_par",
											"type": "Expression"
										},
										"ds_name_table": {
											"value": "@pipeline().parameters.table_name_par",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Parquet",
									"type": "DatasetReference",
									"parameters": {
										"ds_container": {
											"value": "@pipeline().parameters.container_par",
											"type": "Expression"
										},
										"ds_directory": {
											"value": "@concat(pipeline().parameters.directory_par, pipeline().parameters.table_name_par)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "GetFileName",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "SQL_to_landing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Parquet",
									"type": "DatasetReference",
									"parameters": {
										"ds_container": {
											"value": "@pipeline().parameters.container_par",
											"type": "Expression"
										},
										"ds_directory": {
											"value": "@concat(pipeline().parameters.directory_par, pipeline().parameters.table_name_par, '/')",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"schema_par": {
				"type": "string",
				"defaultValue": "SalesLT"
			},
			"table_name_par": {
				"type": "string",
				"defaultValue": "AdventureWorks"
			},
			"container_par": {
				"type": "string",
				"defaultValue": "landing"
			},
			"directory_par": {
				"type": "string",
				"defaultValue": "AdventureWorks/"
			}
		},
		"variables": {
			"last_modified": {
				"type": "String"
			},
			"max_writed_value": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-03-17T18:55:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}