pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"enableStaging": false
				}
			},
			{
				"name": "LastModified",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from dbo.watermark where table_name = '@{pipeline().parameters.table_name_par}'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable",
						"type": "DatasetReference",
						"parameters": {
							"ds_schema": {
								"value": "@pipeline().parameters.schema_par",
								"type": "Expression"
							},
							"ds_table": {
								"value": "@pipeline().parameters.table_name_par",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "MaxLastModified",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT max(ModifiedDate) as ModifiedDate  FROM @{pipeline().parameters.schema_par}.@{pipeline().parameters.table_name_par} ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable",
						"type": "DatasetReference",
						"parameters": {
							"ds_schema": {
								"value": "@pipeline().parameters.schema_par",
								"type": "Expression"
							},
							"ds_table": {
								"value": "@pipeline().parameters.table_name_par",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "SetLastModified",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LastModified",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "last_modified",
					"value": {
						"value": "@activity('LastModified').output.firstRow.LastModified",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetMaxLastModified",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "MaxLastModified",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "max_writed_value",
					"value": {
						"value": "@activity('MaxLastModified').output.firstRow.ModifiedDate",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Wait",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "SetLastModified",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetMaxLastModified",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			}
		],
		"parameters": {
			"schema_par": {
				"type": "string",
				"defaultValue": "SalesLT"
			},
			"table_name_par": {
				"type": "string",
				"defaultValue": "Customer"
			},
			"container_par": {
				"type": "string",
				"defaultValue": "landing"
			},
			"directory_par": {
				"type": "string",
				"defaultValue": "AdventureWorks/Customer/"
			}
		},
		"variables": {
			"last_modified": {
				"type": "String"
			},
			"max_writed_value": {
				"type": "String"
			}
		},
		"annotations": []
	}
}